name: backup

on:
  workflow_dispatch:
  schedule:
    - cron: '7 1 * * 2'

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install github-backup==0.44.1
    - name: Update backups
      run: github-backup neovim --exclude neovim-backup winget-pkgs --token ${{ secrets.PAT }} --fork --incremental --issues --issue-comments --pulls --pull-comments
    - name: Push changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Backup update
        commit_user_name: marvim
        commit_user_email: marvim@users.noreply.github.com
        commit_author: marvim <marvim@users.noreply.github.com>
